.message {
  padding: 3rem;
  background-color: #c8e6c9;
  color: #1b5e20;
  border-radius: 15px;
  position: relative;
  text-align: center;
  margin-bottom: 3rem ;
}
.message__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}
