.single-post {
  margin: 3rem 0;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 25px;
  background-color: #fff;
}
.single-post__title {
  font-size: 4.2rem;
  margin-bottom: 1rem;
}
.single-post__description {
}
.single-post__featured-image {
  margin: 3rem 0;
  width: 100%;
  aspect-ratio: 2;
  object-fit: cover;
  border-radius: 15px;
}
.single-post__info {
  display: flex;
  margin-bottom: 2rem;
}
.single-post__info__posted-by {
  margin-right: 3rem;
}
.single-post__info__updated-at {
}
.single-post__content {
}
