.imageInfo {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.imageInfo__imageWrapper {
  height: 30vh;
}
.imageInfo__image {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
.imageInfo__title {
  margin: 1rem 0;
  display: flex;
  flex-flow: column;
  input {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
.imageInfo__alt {
  display: flex;
  flex-flow: column;
  input {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
