.image {
  width: 33.33%;
  aspect-ratio: 1;
  object-fit: cover;
  height: fit-content;
  padding: 0.5rem;
  cursor: pointer;
  @media screen and (max-width: 720px) {
    & {
      width: 50%;
    }
  }
}
.image___selected {
  outline: 3px solid blue;
  outline-offset: -3px;
}
