.deleteButton {
  background: none;
  border: none;
}
.deleteButton__confirm {
}
.deleteButton__confirm__message {
}
.deleteButton__confirm__buttons {
}
.deleteButton__button {
  background: none;
  border: none;
}
.deleteButton__icon {
  height: 1.5rem;
}
