.create-post {
  margin: 3rem 0;
  background-color: #fff;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 25px;
  display: flex;
}
.create-post__header__featured-image__image {
  max-height: 30rem;
  

}
.create-post__header__info {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.create-post__header__featured-image{
  width: 100%;
  display: flex;
  justify-content: center;
}
.create-post__title,
.create-post__description {
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin: 1rem 0;
  padding: 1rem;
  color: #999;
  input {
    margin-top: 0.5rem;
    border: none;
    color: black;
    outline: none;
  }
}

.create-post__title{ 
  margin-top:0;
  input {
  font-size: 2rem;
}}
.create-post__header{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 33.33%;
}
