.archiveAllPosts {
}
.archiveAllPosts__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  @media screen and (max-width: 720px) {
    & {
      flex-flow: column;
    }
  }
}
.archiveAllPosts__ordering {
  width: fit-content;
  min-width: 200px;

  @media screen and (max-width: 720px) {
    & {
      margin-top: 1rem;
      width: 100%;
    }
  }
}
