.dashboardPageWrapper {
}
.dashboardPage {
  display: flex;
  @media screen and (max-width: 720px) {
    & {
      flex-flow: column;
    }
  }
}
.dashboardPage__menu {
  width: 25%;
  display: flex;
  flex-flow: column;
  @media screen and (max-width: 720px) {
    & {
      flex-flow: row;
      width: 100%;
    }
  }
  button {
    padding: 0.5rem;
    background: none;
    border: none;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
  }
}
.dashboardPage__menu__active {
  color: royalblue;
}
.dashboardPage__edit {
  display: flex;
  flex-flow: column;
  width: 75%;
  @media screen and (max-width: 720px) {
    & {
      width: 100%;
      margin: 2rem 0;
    }
  }
}
