.categoriesList {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;

  @media screen and (max-width: 720px) {
    & {
      display: block;
      overflow-x: auto;
    }
  }

  th {
    width: 1%;
    white-space: no-wrap;
    padding: 1rem;
  }
  th:nth-child(2) {
    width: auto;
  }
  th:nth-child(3) {
    width: auto;
  }
  th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 1rem;
  }
}
